/* This is how you create a comment in CSS, they look different than html */

body { font-family: Georgia; color: #FFDAB9; background-color: #556B2F;}

/* The code below modifies all the content within the <h1> tags */

h1 { font-family: Helvetica; color:#FFDAB9; }
h2 { font-family: Helvetica; color:#FFDAB9; }
h3 { font-family: Garamond; color:#FFDAB9; }
h4 { font-family: Garamond; color:#FFDAB9; }

p {border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}

