/* This is how you create a comment in CSS, they look different than html */

body { font-family: Georgia; color: #FFDAB9; background-color: #556B2F;}

/* The code below modifies all the content within the <h1> tags */

h1 { font-family: Helvetica; color:#FFDAB9; }

